# === General OS files ===
.DS_Store
Thumbs.db

# === Node.js / Frontend ===
node_modules/
dist/
.next/
out/
.vite/
yarn.lock
pnpm-lock.yaml
package-lock.json

# === Laravel / PHP ===
vendor/
back-end/.env
.env.compose
storage/
bootstrap/cache/
composer.lock
phpunit.xml
node_modules/
public/hot
public/storage
database/database.sqlite
database/database.sqlite-journal

# === Terraform ===
*.terraform*
*.tfstate
*.tfstate.backup
crash.log
terraform.tfvars
terraform.tfvars.json
.override.tf
.override.tf.json
*.auto.tfvars
.plan

# === Docker (if used) ===
docker-compose.override.yml
.env.docker
docker-entrypoint.sh

# === Logs ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
storage/logs/*.log

# === IDE / Editor Specific ===
.vscode/
.idea/
*.swp
*.swo

# === GitHub Actions Cache ===
.github/workflows/*.bak
.github/workflows/*.cache

# === Build Artifacts ===
build/
cache/
coverage/
